.container {
    background-color: rgb(239, 233, 231);
}

.row {
    margin: 0 auto;
    display: flex;
    padding-top: 48px;
    max-width: 940px;
    @include iphone() {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.cart-content {
    display: flex;
    flex-wrap: wrap;
}

.cart-header {
    display: flex;
    max-width: 680px;
    max-height: 30px;
    @include iphone() {
        display: block;
        min-width: 300px;
        padding-top: 10px;
    }
}

//list
.list {
    min-width: 220px;
    color: #3d1101;
    padding: 0 20px 0 0;
    @include iphone() {
        min-width: 300px;
        padding: 0;
    }
    .list-tilte {
        display: flex;
        margin-bottom: 20px;
        font-size: 20px;
        .h2 {
            margin-left: 5px;
            line-height: 32px;
        }
    }
    .list-content {
        ul {
            li {
                list-style: none;
                border-bottom: 1px solid #3d1101;
                a {
                    color: #3d1101;
                    display: block;
                    text-decoration: none;
                    padding: 7px 0 7px 8px;
                }
                a:hover {
                    background-color: #3d1101;
                    color: white;
                }
            }
        }
    }
}
.cart-content {
    @include iphone() {
        max-width: 300px;
        margin: 0 auto;
    }
    .search {
        max-width: 460px;
        @include iphone() {
            max-width: 300px;
            margin: 0 auto;
        }
        input {
            min-width: 350px;
            margin-right: -5px;
            padding: 8px 0px 4px 0px;
            border-radius: 0;
            border: 2px solid #3d1101;
            @include iphone() {
                min-width: 268px;
            }
        }
        button {
            background-color: #3d1101;
            padding: 2px;
            border-radius: 0;
            border: 2px solid #3d1101;
            color: white;
            font-size: 20px;
        }
        button:hover {
            background-color: red;
        }
        button:focus {
            outline: -webkit-focus-ring-color auto 0px;
        }
    }
    .cart {
        color: #3d1101;
        display: flex;
        justify-content: flex-end;
        min-width: 280px;
        font-size: 20px;
        line-height: 32px;
        position: relative;
        @include iphone() {
            min-width: 280px;
            margin-top: 5px;
        }
        a {
            color: #3d1101;
        }
        .cart-icon {
            padding: 1px 5px 0 5px;
        }
        .badge {
            text-align: center;
            font-size: 12px;
            line-height: 16px;
            width: 16px;
            height: 16px;
            background-color: red;
            color: white;
            border-radius: 50%;
            position: absolute;
            top: 0;
            right: 0;
            margin: 0 0 5px 5px;
        }
    }
}

//goods

.goods {
    display: flex;
    flex-wrap: wrap;
    min-width: 720px;
    @include iphone() {
        display: block;
        min-width: 320px;
        margin: 0 auto;
        margin-top: 30px;
    }
    .card {
        margin: 25px 20px 0 0;
        min-height: 280px;
        min-width: 220px;
        text-align: center;
        background: #efe9e7;
        box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
        position: relative;
        .heart {
            position: absolute;
            top: 0;
            left: 0;
            color: white;
            font-size: 24px;
            padding: 5px 0 0 5px;
        }
        // .tri{
        //     width: 250px;
        //     height: 100px;
        //     background-color: greenyellow;
        //     clip-path: polygon(16% 0, 54% 0, 100% 46%, 100% 85%, 90% 100%, 90% 76%, 25% 9%, 0 9%);
        // }
        // .tri {
        //     position: relative;
        //     width: 100px;
        //     height: 0;
        //     border-width: 0 71px 71px;
        //     border-style: solid;
        //     border-color: transparent transparent #f69;
        //     // clip-path: polygon(20% 0, 50% 0, 100% 46%, 100% 85%, 90% 100%, 90% 76%, 25% 9%, 0 9%);
        // }
        // .tri:before {
        //     position: absolute;
        //     content: "";
        //     top: 171px;
        //     left: -71px;
        //     width: 100px;
        //     height: 0;
        //     border-width: 71px 71px 0;
        //     border-style: solid;
        //     border-color: #f69 transparent transparent;
        // }
        // .tri:after {
        //     position: absolute;
        //     content: "";
        //     top: 71px;
        //     left: -71px;
        //     width: 242px;
        //     height: 0;
        //     border-width: 0 0 100px;
        //     background: none;
        //     border-style: solid;
        //     border-color: transparent transparent #f69;
        // }
        .card-img {
            background-image: url(/assets/product_1.png);
            max-width: 220px;
            height: 120px;
            @include iphone() {
                max-width: 300px;
            }
        }
        .card-title {
            padding-top: 11px;
            font-size: 20px;
        }
        .card-en-title {
            padding: 5px 0 10px 0;
            font-size: 12px;
        }
        .card-money {
            padding: 15px 0;
            font-size: 20px;
        }
        .card-button {
            margin: 0 auto;

            max-width: 200px;
            font-size: 16px;
            border: 2px solid #ff5e45;
            border-radius: 3px;
            color: #ff5e45;
            padding: 3px 0;
        }
    }
}
