.content {
    background-color: rgb(239, 233, 231);
    color: #3d1101;
    text-align: center;
    @include pad() {
        margin-top: -16px;
    }
    @include iphone() {
        margin-top: 0px;
    }
    .content-title {
        font-size: 20px;
        padding: 50px 0px 31px 0px;
        line-height: 1.5;
        @include pad() {
            line-height: 32px;
        }
        @include iphone() {
            line-height: 32px;
            padding: 50px 0px 0px 0px;
        }
    }
    .content-order {
        display: flex;
        justify-content: space-around;
        padding-bottom: 71px;
        @include iphone() {
            display: flex;
            flex-direction: column;
            margin: 30px 0 0 60px;
        }
    }
    .content-item {
        text-align: left;
        width: 25%;
        @include pad() {
            width: 20%;
            margin-right: 50px;
        }
        @include iphone() {
            margin-bottom: 20px;
        }
        .content-text {
            font-size: 18px;
            text-align: center;
            @include pad() {
                width: 200px;
            }
            h2 {
                margin-bottom: 10px;
                @include pad() {
                    margin: 20px 0;
                }
            }
        }
        img {
            border-radius: 50%;
            padding: 30px;
            @include pad() {
                padding: 0;
            }
        }
    }
}

//chef
.chef {
    background-color: #3d1101;
    height: 460px;
    color: white;
    display: flex;
    line-height: 1.4;
    @include iphone() {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .chef-img {
        background-image: url(assets/main_chef_brown.png);
        width: 460px;
        margin-left: 42px;
        @include pad() {
            background-image: url(assets/main_chef_brown.png);
            width: 460px;
            margin-left: 42px;
            @include pad() {
                background-image: url(assets/main_chef_brown_tablet.png);
                margin-left: 10px;
                width: 373px;
                background-position: left;
            }
            @include iphone() {
                width: 320px;
                height: 460px;
                margin-left: 0px;
                background-position: center center;
            }
        }

        img {
            padding-left: 42px;
        }
        .chef-content {
            margin: 81px 0 0 25px;
            max-width: 512px;
            @include pad() {
                margin: 49px 0 0 25px;
            }
            p {
                max-width: 410px;
                @include pad() {
                    max-width: 330px;
                }
                @include iphone() {
                    max-width: 260px;
                    padding-bottom: 30px;
                }
            }
            br {
                @include iphone() {
                    display: none;
                }
            }
        }
        .chef-title {
            font-size: 20px;
        }
    }

    //comment
    .comment {
        background-color: rgb(239, 233, 231);
        color: #3d1101;
        padding-bottom: 50px;
        .comment-title {
            font-size: 24px;
            padding: 50px 0 32px 0;
            text-align: center;
        }
        .comment-group {
            display: flex;
            justify-content: space-around;
            @include iphone() {
                display: flex;
                flex-direction: column;
            }
            .comment-item {
                display: flex;
                @include iphone() {
                    display: flex;
                    min-width: 320px;
                }
                img {
                    border-radius: 50%;
                    height: 67px;
                    width: 67px;
                }
                .comment-text {
                    padding: 21px 0 0 13px;
                    max-width: 220px;
                    @include pad() {
                        max-width: 155px;
                    }
                    .comment-item-id {
                        padding-bottom: 21px;
                    }
                    p {
                        @include iphone() {
                            min-width: 220px;
                        }
                    }
                    .comment-item-nickname {
                        padding: 16px 0 0 0px;
                        font-size: 16px;
                        color: rgba(61, 17, 0, 0.75);
                        line-height: 24px;
                        min-width: 220px;
                        text-align: right;
                        @include pad() {
                            padding: 16px 0 0 0px;
                            min-width: 155px;
                        }
                        @include iphone() {
                            padding: 16px 0 0 0px;
                            min-width: 220px;
                        }
                    }
                }
            }
        }
    }

    //form
    .form {
        background: rgba(250, 250, 250, 0.7);
        .form-title {
            text-align: center;
            font-size: 24px;
            padding: 50px 0 38px 0;
            line-height: 30px;
        }
        .form-content {
            display: flex;
            padding-bottom: 50px;
            @include iphone() {
                flex-wrap: wrap;
                justify-content: center;
            }

            .form-map {
                background-image: url(assets/Map.png);
                min-width: 460px;
                height: 386px;
                @include pad() {
                    background-image: url(assets/Map.png);
                    min-width: 460px;
                    height: 386px;
                    @include pad() {
                        background-image: url(assets/Map_tablet.png);
                        min-width: 363px;
                        height: 386px;
                        margin-left: 12px;
                    }
                    @include iphone() {
                        background-image: url(assets/Map_phone.png);
                        min-width: 298px;
                        height: 386px;
                        margin-left: 0px;
                    }
                }
                .form-group {
                    display: flex;
                    flex-direction: column;
                    padding-left: 20px;
                    @include pad() {
                        max-width: 363px;
                    }
                    @include iphone() {
                        flex-wrap: wrap;
                        max-width: 300px;
                        padding-left: 0;
                        margin-top: 56px;
                    }
                    label {
                        font-family: PingFangTC-Light;
                        font-size: 14px;
                        color: #3d1101;
                        padding-bottom: 6px;
                        @include pad() {
                            padding-bottom: 12px;
                        }
                        @include iphone() {
                            max-width: 320px;
                        }
                    }
                    .form-control {
                        background: #ffffff;
                        border: 1px solid #cccccc;
                        box-shadow: inset 0px 1px 0px 0px #ececec;
                        border-radius: 3px;
                        width: 460px;
                        height: 32px;
                        margin-bottom: 6px;
                        @include pad() {
                            width: 363px;
                            margin-bottom: 12px;
                        }
                        @include iphone() {
                            max-width: 300px;
                        }
                    }
                    .form-button {
                        max-width: 460px;
                        display: flex;
                        justify-content: flex-end;
                        @include iphone() {
                            max-width: 300px;
                        }
                        .submit-button {
                            height: 32px;
                            width: 70px;
                            background: #f56c23;
                            border-radius: 3px;
                            color: white;
                            text-align: center;
                            line-height: 32px;
                        }
                        .cancel-button {
                            margin-right: 11px;
                            height: 32px;
                            width: 70px;
                            background: rgba(0, 0, 0, 0.35);
                            border-radius: 3px;
                            color: white;
                            text-align: center;
                            line-height: 32px;
                        }
                    }
                }
                .radio {
                    margin: 12px 0 34px 0px;
                    display: flex;
                    flex-direction: column;
                    min-width: 460px;
                    .radio-control {
                        max-width: 108px;
                        display: flex;
                        justify-content: space-between;
                    }
                }
            }
        }
    }
}
